%h1 ログインアプリ
= link_to "ログイン", new_user_session_path, class: 'post'
/ ログイン画面に移行する
= link_to "新規登録", new_user_registration_path, class: 'post'
/ 新規登録画面に移行する
= link_to "新規登録方法", users_menu_path, class: 'post'


