.contents
  .item-name
    GALLERY VISCONTIロングジャケット
  .items
    .item-photo
    .item-data
      %table
        %tr
          %th 出品者
          %td しろ 8  0  0
        %tr
          %th カテゴリー
          %td レディース ジャケット/アウター テーラードジャケット
        %tr
          %th ブランド
          %td ギャラリービスコンティ
        %tr
          %th 商品のサイズ
          %td L
        %tr
          %th 商品の状態
          %td 新品、未使用
        %tr
          %th 配送料の負担
          %td 送料込み(出品者負担)
        %tr
          %th 配送の方法
          %td 未定
        %tr
          %th 配送元地域
          %td 福岡県
        %tr
          %th 発送日の目安
          %td 2~3日で発送


  .price-box
   

  .item-buy-btn
    購入画面に進む

  .item-Details
    %br Gallery viscontiのティアード調のフリルデザインが
    %br 上品＆可愛いロングジャケットです。
    %br 柔らかく、滑らかな生地感が着心地をアップさせます。
    %br 3段フリル+リボンのキュートで可愛いディテールが
    %br コーディネイトに甘さをプラス♪
    %br 気軽さがあり、幅広コーデで役立つ人気アイテムです。
    %br
    %br 新品未使用です
    %br
    %br 素人保管、中古品のご理解の上ご購入ください
    %br
    %br よろしくお願い致しますm(_ _)m


.item-comment
  .comment-messege
    相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
  .comment-form
  .comment-btm
    コメントする

.item-link


.media-box


.section
  %h2.card-section-title
    しろさんのその他の出品
    %ul.card-list
      %li.card-item
        .card-img
          %img src="img_cliants01.png"
          %h3
          %p.card-text
            単行本
      %li.card-item
        .card-img
          %img src="img_cliants02.png"
          %h3
          %p.card-text
            ネックウォーマー
      %li.card-item
        .card-img
          %img src="img_cliants03.png"
          %h3
          %p.card-text
            ペン

