.header__item
  = link_to image_tag("/images/material/logo/logo.png", class: "header__item__logo"), posts_index_path
 
%label 登録クレジットカード情報
%br
= "**** **** **** " + @default_card_information.last4
%br
- exp_month = @default_card_information.exp_month.to_s
- exp_year = @default_card_information.exp_year.to_s.slice(2,3)
= exp_month + " / " + exp_year
= form_tag(delete_card_index_path, method: :post, id: 'charge-form',  name: "inputForm") do
  %input{ type: "hidden", name: "card_id", value: "" }
  %button 削除する

.low-content
  %h2 だれでもかんたん、人生を変えるフリマアプリ
  %p 今すぐ無料ダウンロード！
  .low-content__img
    .low-content__img__1
    .low-content__img__2

.footer
  .footer__content
    .footer__content__left
      %ul
        %p FURIMAについて
        %li
          会社概要（運営会社）
        %li
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          ポイントに関する特約
    .footer__content__center
      %ul
        %p FURIMAを見る
        %li
          カテゴリー一覧
        %li
          ブランド一覧
    .footer__content__right
      %ul
        %p ヘルプ＆ガイド
        %li
          FURIMAガイド
        %li
          FURIMAロゴ利用ガイドライン
        %li
          お知らせ
  .footer__logo
  .footer__copyright
    © FURIMA