//トップロゴ
.header
  .header__logo

//中央
.contents
  .contents__box
    .contents__box__title
      購入内容の確認    
    .contents__box__border     
    .contents__box__item-box
      .contents__box__item-box__image
      .contents__box__item-box__title     
        【商品名】
        %p ¥9,999 （税込）送料込み
    .contents__box__money
      .contents__box__money__title
        支払い金額
      .contents__box__money__price
        ¥9999

    .contents__box__payment
      .contents__box__payment__block   
        .contents__box__payment__block__title
          支払い方法
        .contents__box__payment__block__chg
          変更する
      %ul.contents__box__payment__list
        %li クレジットカード
        %li ****************
        %li 有効期限 ** / **  

    .contents__box__delivery
      .contents__box__delivery__block
        .contents__box__delivery__block__title
          配送先
        .contents__box__delivery__block__chg     
          変更する
      %ul.contents__box__delivery__list
        %li 〒999-9999
        %li 〇〇府 〇〇市〇〇区 ×××××××××× マンション名 ×××
        %li 〇〇〇 〇〇〇

    .contents__box__buy-button
      %p 購入する

//フッター
.footer
  %ui.footer__contents
    %li プライバシーポリシー
    %li フリマ利用規約
    %li 特定商取引に関する表記
  .footer__logo
  .footer__copyright
    © FURIMA