.header 
  .header_box
    .header__box__logo
      ロゴ
    .header__box___input
      検索ボックス
  .header__nav
    %ul.header__nav__list-right
      %li
        カテゴリ
      %li
        ブランド
    %ul.header__nav__list-left
      %li
        ログイン
      %li
        新規会員登録

.main
  %h2
    人生を変えるフリマアプリ
  .main__sub
    FURIMAはだれでもかんたんに出品・購入できる 
    %br
    フリマアプリです。

.introduct
  FURIMAが選ばれる3つの理由
  .introduct__border
  %ul.introduct__list
    %li
      3分 ですぐに出品
      スマホで入力するだけで簡単に出品できる！
    %li
      シンプル で使いやすい
      めんどくさい入力は必要なく、検索も購入もスムーズ！
    %li
      手数料 業界最安
      最大3%でお得に出品&購入！

.middle
  会員数日本一位
  %br
  FURIMAは、フリマアプリで最も人気。  
  %br
  出品・購入回数も業界最多です！
  %br
  ほしかったあの商品に出会えるかもしれません。

.features
  %h2
    FURIMAの特徴
  %ul.features__list
    %li
      簡単に売り買いできる
      スマホひとつで、いつでもどこでも簡単に出品・購入が可能！
    %li
      売上金は即日振込みに対応
      午前9時までに振込を依頼いただければ、翌日に指定の口座に入金いたします!
    %li
      様々な支払いに対応
      お支払いは、クレジットカードだけでなく、ポイントや売上金など多彩な方法があります。

.pickup__categories
  .pickup__categories__box1
    %h2
      ピックアップカテゴリ
    %h3
      新規投稿商品
  .pickup__categories__box2
    %h2
      ピックアップカテゴリ
    %h3
      アーカイバ

.low-content
  %h2
    だれでもかんたん、人生を変えるフリマアプリ
  %h3
    今すぐ無料ダウンロード！

.footer
  .footer__content
    .footer__content__left
      %h3
        FURIMAについて
        %li
          会社概要（運営会社）
        %li 
          プライバシーポリシー
        %li
          FURIMA利用規約
        %li
          ポイントに関する特約
    .footer__content__center
      %h3
        FURIMAについて
        %li
          FURIMAを見る
        %li
          カテゴリー一覧
        %li
          ブランド一覧
    .footer__content__right
      %h3
        ヘルプ＆ガイド
        %li
          FURIMAガイド
        %li
          FURIMAロゴ利用ガイドライン
        %li
          お知らせ
  .footer__logo
    ロゴ

  .footer__copyright
    © FURIMA
}