.header{
  margin: 60px auto;
  padding: 40px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  max-width: 1040px;
  &__box {
    &__logo {
      vertical-align: bottom;
      background-repeat: no-repeat;
      background-image: url("/images/material/logo/logo.png");
    }
    &__input {
      width: calc(100% - 26px);
      height: 36px;
      padding: 0 0 0 5px;
    }
  }
  &__nav { 
    &__list-left {
    font-size: 14px;
      display: flex;
    }  
    &__list-right {
      display: flex;
    } 
  }  
}

.main {
  width: 100%;
  height: 560px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  position: relative;
  padding: 0 60px;
  display: flex;
  align-items: center;
  background-image: url("/images/bg-mainVisual-pict_pc.jpg");
  &__sub {
    width: 100%;
    height: 560px;
    text-shadow: 0 0 5px rgba(0,0,0,0.4);
    font-size: 18px;
    line-height: 1.2;
    color: #fff;
  }
}

.introduct {
  padding: 60px 20px;
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
  &__border {
  content: "";
  width: 70px;
  height: 4px;
  background-color: #3CCACE;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  }
  &__list {
    text-align: center;
    display: flex;
    max-width: 1020px;
    width: 100%;
    margin: 0 auto;
  }
}

.middle {
  background-position: bottom right;
  height: 400px;
  background-size: cover;
  display: flex;
  align-items: center;
  font-size: 27px;
  font-weight: bold;
  line-height: 1.4;
  background-image: url("/images/bg-topMiddleDl-pict.jpg");
  color: #fff;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
  text-align: left;
  width: 100%;
  margin: 0 auto;
}

.features {
  height: 500px;
  padding: 60px 20px;
  text-align: center;
  font-size: 26px;
  line-height: 1.4;
  font-weight: bold;
  margin-bottom: 25px;
  padding-bottom: 15px;
  position: relative;
  &__list {
    display: flex;
  }
}

.pickup__categories {
  padding: 80px 0 0;
  text-align: center;
  background-color: #f8f8f8;
  font-size: 28px;
  line-height: 1.4;
  font-weight: bold;
  height: 500px;
  &__box1 {

  }
  &__box2 {

  }
}

.low-content {
  background-image: url("/images/material/pict/bg-appBanner-pict.jpg");
  background-repeat: no-repeat;
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  color: #fff;
  text-align: center;
  font-size: 35px;
  text-shadow: 0 0 5px rgba(0,0,0,0.4);
}

.footer {
  text-align: center;
  padding: 60px 0;
  color: #fff;
  background-color: #272727;
  &__content {
    display: flex;
    &__left {
      &__h3 {
        margin: 0 0 20px;
        font-size: 16px;
        font-weight: bold;
      }
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      line-height: 32px;  
    }
    &__center {
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      line-height: 32px;  
    }
    &__right {
      flex-direction: column;
      width: calc(1 / 3 * 100%);
      margin: 0 2% 0 0;
      color: #fff;
      text-decoration: none;
      font-size: 12px;
      line-height: 32px;  
    }
  }
  &__logo {
  
  }
  &__footer__copyright {
    font-size: 14px;
  }
}