//トップロゴ
.confirmation-header
  .confirmation-header__logo

//中央
.confirmation-contents
  .confirmation-contents__box
    .confirmation-contents__box__title
      購入内容の確認
    .confirmation-contents__box__border
    .confirmation-contents__box__item-box
      .confirmation-contents__box__item-box__image
      .confirmation-contents__box__item-box__title
        【商品名】
        %p ¥9,999 （税込）送料込み
    .confirmation-contents__box__money
      .confirmation-contents__box__money__title
        支払い金額
      .confirmation-contents__box__money__price
        ¥9999

    .confirmation-contents__box__payment
      .confirmation-contents__box__payment__block
        .confirmation-contents__box__payment__block__title
          支払い方法
        .confirmation-contents__box__payment__block__chg
          変更する
      %ul.confirmation-contents__box__payment__list
        %li クレジットカード
        %li ****************
        %li 有効期限 ** / **

    .confirmation-contents__box__delivery
      .confirmation-contents__box__delivery__block
        .confirmation-contents__box__delivery__block__title
          配送先
        .confirmation-contents__box__delivery__block__chg
          変更する
      %ul.confirmation-contents__box__delivery__list
        %li 〒999-9999
        %li 〇〇府 〇〇市〇〇区 ×××××××××× マンション名 ×××
        %li 〇〇〇 〇〇〇

    .confirmation-contents__box__buy-button
      %p 購入する

//フッター
.confirmation-footer
  %ui.confirmation-footer__contents
    %li プライバシーポリシー
    %li フリマ利用規約
    %li 特定商取引に関する表記
  .confirmation-footer__logo
  .confirmation-footer__copyright
    © FURIMA
