.header__box

.products-new
  .products-new__form
    出品画像
    %span ※必須
    %p.products-new__form__comment 最大4枚までアップロードできます
    %br
    .drop_area
      .drop_box
      .drop_box_a
      .drop_box_b
      .drop_box_c

  .products-new__form
    .products-new__form__box
    商品名
    %span ※必須
    %br
    .products-new__form__box__text_field 40文字まで
    .products-new__form__box
    商品の説明
    %span ※必須
    %br
    .products-new__form__box__text_detail 必須1,000文字以内（色、素材、重さ、定価、注意点など）例）2010年頃に1万円で購入したジャケットです。ライトグレーで傷はありません。あわせやすいのでおすすめです

  .products-new__select
    .products-new__select__box
    カテゴリー
    %span ※必須
    %br
    .products-new__select__box__category
    .products-new__select__box
    ブランド
    %span ※任意
    %br
    .products-new__select__box__category
    .products-new__select__box
    商品の状態
    %span ※必須
    %br
    .products-new__select__box__category

  .products-new__select
    .products__new__select__box
    配送料の負担
    %span ※必須
    %br
    .products-new__select__box__category
    .products-new__select__box
    配送元の地域
    %span ※必須
    %br
    .products-new__select__box__category
    .products-new__select__box
    発送までの日数
    %span ※必須
    %br
    .products-new__select__box__category

  .products-new__prices
    .products-new__prices__box
    価格
    %span ※必須
    %br
    .products-new__prices__box__text ¥300~¥2,000,000

  .products-new__last
    %h1
    禁止されている出品、行為を必ずご確認ください。またブランド品でシリアルナンバー等がある場合はご記載ください。
    %h2
    偽ブランドの販売は犯罪であり処罰される可能性があります。また、出品をもちまして加盟店規約に同意したことになります。
  .products-new__last__btm_create 出品する
  %br
  .products-new__last__btm_back 戻る
  %br