.gray-background
  .contents
    .content-box
      .item-name
        スノー・ボール
      .items
        .item-photo
        = image_tag"messageImage_1583920032546.jpg", size: "300x300"
        .item-data
          %table
            %tr
              %th 出品者
              %td
                しろ
                %br
                %br
                %i.far.fa-smile-beam
                %i.far.fa-meh
                %i.far.fa-frown
            %tr
              %th カテゴリー
              %td メンズ ジャケット / アウター テーラードジャケット
            %tr
              %th ブランド
              %td ディズニー
            %tr
              %th 商品のサイズ
              %td S
            %tr
              %th 商品の状態
              %td 新品、未使用
            %tr
              %th 配送料の負担
              %td 送料込み(出品者負担)
            %tr
              %th 配送の方法
              %td 未定
            %tr
              %th 配送元地域
              %td 福岡県
            %tr
              %th 発送日の目安
              %td 2~3日で発送


      .price-box
        $660

      .item-buy-btn
        購入画面に進む

      .item-Details
        %br Gallery viscontiのティアード調のフリルデザインが
        %br 上品＆可愛いロングジャケットです。
        %br 柔らかく、滑らかな生地感が着心地をアップさせます。
        %br 3段フリル+リボンのキュートで可愛いディテールが
        %br コーディネイトに甘さをプラス♪
        %br 気軽さがあり、幅広コーデで役立つ人気アイテムです。
        %br
        %br 新品未使用です
        %br
        %br 素人保管、中古品のご理解の上ご購入ください
        %br
        %br よろしくお願い致しますm(_ _)m


  .item-comment
    .comment-messege
      相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
    .comment-form
    .comment-btm
      コメントする

  -# .item-link
  -#   .item-link-light
  -#     ＜  カラフルくま柄のコップ袋
  -#   .item-link-left
  -#     マロン様専用  ＞

  -# .media-box
  -#   .media-icons
  -#     %i.fab.fa-facebook
  -#     %i.fab.fa-twitter
  -#     %i.fab.fa-line
  -#     %i.fab.fa-pinterest


  -# .card-lists
  -#   .card-section-item
  -#     しろさんのその他の出品
  -#     .card-section-item-first
  -#       .card-left
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-left__textbox
  -#           .card-left__titletext
  -#             商品名
  -#           .card-left__overviewtext
  -#             価格
  -#       .card-center
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-center__textbox
  -#           .card-center__titletext
  -#             商品名
  -#           .card-center__overviewtext
  -#             価格
  -#       .card-light
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-light__textbox
  -#           .card-light__titletext
  -#             商品名
  -#           .card-light__overviewtext
  -#             価格
  -#     .card-section-item-second
  -#       .card-left
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-left__textbox
  -#           .card-left__titletext
  -#             商品名
  -#           .card-left__overviewtext
  -#             価格
  -#       .card-center
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-center__textbox
  -#           .card-center__titletext
  -#             商品名
  -#           .card-center__overviewtext
  -#             価格
  -#       .card-light
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-light__textbox
  -#           .card-light__titletext
  -#             商品名
  -#           .card-light__overviewtext
  -#             価格

  -#   .card-section-category
  -#     ギャラリービスコンティのテーラードジャケット その他の商品
  -#     .card-section-category-first
  -#       .card-left
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-left__textbox
  -#           .card-left__titletext
  -#             商品名
  -#           .card-left__overviewtext
  -#             価格
  -#       .card-center
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-center__textbox
  -#           .card-center__titletext
  -#             商品名
  -#           .card-center__overviewtext
  -#             価格
  -#       .card-light
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-light__textbox
  -#           .card-light__titletext
  -#             商品名
  -#           .card-light__overviewtext
  -#             価格
  -#     .card-section-item-second
  -#       .card-left
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-left__textbox
  -#           .card-left__titletext
  -#             商品名
  -#           .card-left__overviewtext
  -#             価格
  -#       .card-center
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-center__textbox
  -#           .card-center__titletext
  -#             商品名
  -#           .card-center__overviewtext
  -#             価格
  -#       .card-light
  -#         .card-img
  -#         = image_tag"messageImage_1583920032546.jpg", size: "200x200"
  -#         .card-light__textbox
  -#           .card-light__titletext
  -#             商品名
  -#           .card-light__overviewtext
  -#             価格

  .item-category-log
  %br
    メルカリ  ＞  ロングジャケット
  %br
